h1{
    color:black;
    text-align: center;
    border-style:groove;
    border-color:black;
    border-radius: 30px;
    background-color: darkgoldenrod;
    font-size: xx-large;
    
    
}
body {
    background-color: lightgoldenrodyellow;
   
}


.headings{
    display:inline-block;
    background-color:lightseagreen;
    text-align:start;
    color:black;
    border-width: thin;
    border-color: rgb(11, 124, 176);
    border-style: double;
    border-radius: 25px;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
    

}
img{
    
    display:block;
    margin:0 auto;
    width:40%;
    border-radius: 20px;
    border-color: black;
    border-style:ridge;

}
p{
    text-indent:40px;
    color:black;
    font-size: larger;

    
    
}
div{
    color:black
}
ul{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}